/* ------------------------------ */
/* -------min-width:1620px------- */
/* ------------------------------ */

@media screen and (min-width:1620px) {
    body {
        max-width: 1620px;
        margin: 0 auto;
    }

    .rev_form_top {
        height: none;
        margin-bottom: 5%;
    }
}


/* ------------------------------ */
/* --------max-width:1175px------- */
/* ------------------------------ */

@media screen and (max-width:1175px) {
    .navbar-nav a {
        font-size: 1.75rem;
    }
    .place_for_links {
        width: 100%;
        height: 8vh;
    }
}



/* ------------------------------ */
/* --------max-width:992px------- */
/* ------------------------------ */

@media screen and (max-width:992px) {

    html {
        font-size: 9px;
    }

    /* для теста       
    header {
        background: green; 
    }
    */ 
    .place_for_links {
        width: 100%;
        height: 30vh;
    }
    .img-vh {
        height: 12vh;
    }
/* saction 1 */

    .gallery {
        position: relative;
        display: block;
    }
    .section_centr_left , .section_centr_right {
        position: absolute;
        width: 100%;
        display: block;
    }
    .gallery ,
    .section_centr_left ,
    .section_centr_right ,
    .section_right {
        height: 180vh;
    }
    .section_left , 
    .section_right {
        position: absolute;
        width: 100%;
        background-position: center;
        height: 60vh;
    } 
    .section_centr_left_top ,
    .section_centr_left_bot ,
    .section_centr_right_top ,
    .section_centr_right_bot {
        position: absolute;
        width: 40%;
        background-position: center;
        height: 60vh;
    }
    .section_left , .section_right {
        width: 50%;
    }
    .section_centr_left_top {
        top: 0%;
        right: 5%;
    }
    .section_centr_left_bot {
        top: 33%;
        left: 5%;
    }
    .section_centr_right_top {
        top: 33%;
        right: 5%;
    }
    .section_centr_right_bot {
        bottom: 0%;
        left: 5%;
    }
    .section_right {
        bottom: 0%;
        right: 0%;  
    }
    .section_centr_left ,
    .section_centr_right {
        animation:none;
    }
    .section_centr_left ,
    .section_centr_right {
        transform: none;
    }
    .section_centr_left_top ,
    .section_centr_right_top  {
        transform: translateX(+100vw);
        animation: gallery-show-right 2s  1 forwards;
    }
    .section_centr_left_bot ,
    .section_centr_right_bot  {
        transform: translateX(-100vw);   
        animation: gallery-show-left 2s  1 forwards;      
    }

/* saction 2 */

    .services {
        flex-wrap: wrap-reverse;
    }
    .services .services_left {
        width: 100%;
    }
    .services .services_right {
        width: 100%;
    }
    .services .services_left > div {
        width: 50%;
    }

/* saction 3 */

    .team {
        height: 190vh;
    }    
    .t_place {
        flex-wrap: wrap;
    }
    .t_place > div {
        width: 40%;
        height: 80vh;    
    }
    .t_name {
        opacity: 0;
    }
    .t_place > div:hover > div {
        animation: team-name-op 1s forwards ;
    }

/* saction 4 */

    .rev {
        flex-wrap: wrap;
        height: 110vh;
    }
    .rev_form_top {
        height: 20%;
        margin-bottom: none;
    }
    .rev_right ,
    .rev_left {
        width: 100%;
    }
    .rev_left {
        margin-bottom: 5%;
    }
}

/* ------------------------------ */
/* --------max-width:768px------- */
/* ------------------------------ */

@media screen and (max-width:768px) {

    html {
        font-size: 7px;
    }

    /* для теста    
    header {
        background: red; 
    }
    */ 

/* saction 1 */

    .gallery {
        position: static;
    }
    .section_centr_left ,
    .section_centr_right {
        position: static;
    }
    .section_left , 
    .section_right {
        position: static;
    }
    .section_centr_left_top ,
    .section_centr_left_bot ,
    .section_centr_right_top ,
    .section_centr_right_bot {
        position: static;
    }

/*-------default_start---------*/ 

    .gallery {
        height: 90vh;
        margin: 2vh auto;
        box-sizing: border-box;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .gallery > div {
        margin: 0 0.5%;
    }
    .section_left , .section_right {
        width: 20%;
        height: 60vh;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .section_centr_left , .section_centr_right {
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .section_centr_left_top ,
    .section_centr_left_bot ,
    .section_centr_right_top ,
    .section_centr_right_bot
    {
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        height: 47vh;
    }
    .section_centr_left_top ,
    .section_centr_right_top {
        margin-bottom: 1rem;    
    }

/*-------default_end---------*/ 

    .gallery {
        height: 337vh;;
    }
    .gallery {
        flex-wrap: wrap;
    }
    .section_left , 
    .section_right , 
    .section_centr_left_top ,
    .section_centr_left_bot ,
    .section_centr_right_top ,
    .section_centr_right_bot {
        width: 100%;
        background-size: contain;
        background-position: center;
        margin-bottom: 10rem;
        height: 80vh;
    }
    .gallery > div:first-child {
        margin-bottom: 10rem;       
    }
    .section_centr_left_top ,
    .section_centr_left_bot ,
    .section_centr_right_top ,
    .section_centr_right_bot {   
        background-size: contain;
    }
    .section_centr_left ,
    .section_centr_right {
        width: 100%;
    }
    .section_centr_left ,
    .section_centr_right {
        animation:none;
        transform: none;   
        height: 110vh;     
    }
    .section_left , 
    .section_right {
        height: 55vh;
    }


    .section_centr_left_top ,
    .section_centr_right_top     {
        transform: translateX(+100vw);
        animation: gallery-show-right 2s  1 forwards;
    }
    .section_centr_left_bot ,
    .section_centr_right_bot  {
        transform: translateX(-100vw);   
        animation: gallery-show-left 2s  1 forwards;      
    }


/* saction 2 */

    .services .services_left {
        width: 100%;
    }
    .services .services_right {
        width: 0%;
    }


/* saction 3 */

    .team {
        height: 355vh;
    }    
    .t_place {
        flex-wrap: wrap;
    }
    .t_place > div {
        width: 80%;
        height: 80vh;    
    }
    .t_name {
        opacity: 0;
    }
    .t_place > div:hover > div {
        animation: team-name-op 1s forwards ;
    }

/* saction 4 */

    .rev {
        flex-wrap: wrap-reverse;
        height: 110vh;
    }
    .rev_left {
        margin-bottom: 0;
    }
}