@import url('https://fonts.googleapis.com/css2?family=Rosario:ital,wght@0,600;0,700;1,600;1,700&family=Space+Grotesk:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rosario:ital,wght@0,600;0,700;1,600;1,700&family=Volkhov&display=swap');
@import url('./animation.css');

html {
    font-size: 16px;
    --color-white: white;
    --color-black: black;
    --color-grey: #CCCCCC;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
}
a {
    text-decoration: none;
}

/* OLD NAV

header {
    background: var(--color-black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Rosario';
    font-size: 2.25rem;
    font-style: italic;
    font-weight: 700;
    top: 0;
    position: sticky;
    z-index: 2;
    height: 10vh;
}
header > a {
    background-color: var(--color-white);
    height: 10vh;
}
header >a img{
    height: 100%;
    align-self: stretch;
}
.top_nav {
    display: flex;
    list-style: none;
    width:100%;
    justify-content: space-between;
    margin-right: 1.5rem;
}
.top_nav_item {
    color: var(--color-white);
    text-decoration: none;
    padding-right: 2rem;
}
.top_nav_item a{
    color: var(--color-white);    
}
OLD NAV */

.place_for_links {
    width: 100%;
    height: 12vh;
}
  


header {
    top: 0;
    position: sticky;
    z-index: 2;
    height: 10vh;
}
.navbar {
    padding: 0;
}
.container-fluid {
    padding: 0;
}
.nav-img {
    height: 100%;
    align-self: stretch;
    padding: 0;
}
 .bg-light {
    background-color: var(--color-black) !important;
} 
.container-fluid > a {
    background-color: var(--color-white) !important;
}
.img-vh {
    padding: 0;
    height: 15vh;
}
.nav-item a {
    font-family: 'Rosario';
    font-size: 2.25rem;
    font-style: italic;
    font-weight: 700;
    color: var(--color-white) !important;
}
.navbar-collapse  {
    flex-grow:0;
}
.navbar-toggler {
    background-color: var(--color-white);
    margin: 0 auto;
}
.navbar-nav {
    text-align: center;
}
/* .contact {
    color: var(--color-white) ;
}*/

/* saction 1 */

.gallery {
    height: 90vh;
    margin: 2vh auto;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.gallery > div {
    margin: 0 0.5%;
}
.section_left , .section_right {
    width: 20%;
    height: 60vh;
    background-repeat: no-repeat;
    background-size: contain;
}
.section_left  {
    background-image:url('../img/Rectangle\ 21.png') ;
    transform: translateX(-100vw);
    animation: gallery-show-left 2s  1 forwards;
}
.section_right {
    background-image:url('../img/Rectangle\ 24.png') ;
    transform: translateX(+100vw);
    animation: gallery-show-right 2s  1 forwards;
}
.section_centr_left , .section_centr_right {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.section_centr_left{
    transform: translateX(-100vw);   
    animation: gallery-show-left 1s  1 forwards; 
}
.section_centr_right {
    transform: translateX(+100vw);
    animation: gallery-show-right 1s  1 forwards;
}
.section_centr_left_top ,
.section_centr_left_bot ,
.section_centr_right_top ,
.section_centr_right_bot
{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 47vh;
}
.section_centr_left_top ,
.section_centr_right_top {
    margin-bottom: 1rem;    
}
.section_centr_left_top {
    background-image:url('../img/Rectangle\ 20.png') ;
}
.section_centr_left_bot {
    background-image:url('../img/Rectangle\ 25.png') ;
}
.section_centr_right_top {
    background-image:url('../img/Rectangle\ 22.png') ;    
}
.section_centr_right_bot {
    background-image:url('../img/Rectangle\ 23.png') ;   
}
/* saction 2 */
.services {
    min-height: 90vh;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Rosario';
    font-weight: 700;
    font-style: italic;
    font-size: 3rem;
}
.services .services_left {
    width: 50%;
    height: 90vh;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.services .services_right {
    width: 50%;
}
.services_right {
    height: 90vh;
    background-image: url(../img/pexels-cottonbro-3998389\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.services .services_left > div {
    width: 25%;
    height: 43vh;
    padding: 0.5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
}
.circle_1 , .circle_2 , .circle_3 , .circle_4 {
    width: 100%;
    height: 30vh;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.circle_1 {
    background-image: url('../img/Ellipse\ 1.png');
}
.circle_2 {
    background-image: url('../img/Ellipse\ 2.png');
}
.circle_3 {
    background-image: url('../img/Ellipse\ 3.png');
}
.circle_4 {
    background-image: url('../img/Ellipse\ 4.png');
}
.servicesbox_1 {
    top: 0;
    left: 0;
    animation: c1  10s infinite;
}
.servicesbox_2 {
    top: 0;
    left: 50%;   
    animation: c2  10s infinite; 
}
.servicesbox_3 {
    top: 50%;
    left: 50%;    
    animation: c3  10s infinite;
}
.servicesbox_4 {
    top: 50%;
    left: 0%;  
    animation: c4  10s infinite;  
}

/* saction 3 */

.team {
    height: 90vh;
    box-sizing: border-box;
}
.team_title {
    height: 20vh;  
    display: flex;
    align-items: center;
    justify-content: center;  
}
.team h1{
    font-family: 'Rosario';
    font-weight: 700;
    font-size: 5rem;
}
.t_place {
    height: 65vh;
    display: flex;
    justify-content: space-evenly;
}
.t_place > div {
    width: 20%;
    height: 65vh;
    margin-bottom: 5vh;
    background-position: center;
    background-repeat: no-repeat;  
    background-size: cover;
    border-radius: 35px;
    position: relative;
}
.t_card_1 {
    background-image: url('../img/Rectangle\ 8.png');
}
.t_card_2 {
    background-image: url('../img/Rectangle\ 12.png');
}
.t_card_3 {
    background-image: url('../img/Rectangle\ 13.png');
}
.t_card_4 {
    background-image: url('../img/Rectangle\ 9.png');
}
.t_place:hover > div {
    filter: brightness(0.5);
    cursor:pointer;
}
.t_place > div:hover {
    filter: none;    
}
.t_name {
    font-family: 'Volkhov';
    font-size: 3rem;
    color: var(--color-white);
    position: absolute;
    background: #A3530AB2;
    width: 100%;
    bottom: 0;
    height: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 35px 35px;
}
.t_place > div:hover > div {
    height: 16vh;
}

/* saction 4 */

.rev {
    width: 90%;
    height: 60vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}
.rev_left {
    width: 55%;
    font-family: 'Rosario';
    font-size: 4rem;
    font-style: italic;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.rev_right {
    width: 40%;
    box-sizing: border-box;
}
.rev_right iframe{
    width: 100%;
    height: 60vh;
}
.rev_title {
    padding-left: 2rem;
    text-align: center;    
}
.rev_box {
    background-color:#E5E5E5;
    height: 34vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3%;
    box-sizing: border-box;
}

.rev_form_top {
    display: flex;
    justify-content: space-between;
    height: 20%;
    width: 100%;
}
.rev_form_top input{
    height: 100%;
}
.rev_form_name {
    width: 50%;
}
.rev_form_name input{
    width: 90%;
}
.rev_form_email{
    width: 50%;    
}
.rev_form_email input{
    width: 100%;
}
.rev_form_bot { 
    height: 65%;
}
.rev_form_bot input{
    width: 100%;
    height: 100%;
}
input::placeholder {
    font-family: 'Rosario';
    font-size: 2.25rem;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.5);
    padding-left: 1.5rem;
}
.rev_form_email input::placeholder{
    padding-left: 4rem; 
}

/* footer */
#con {
    height: 7vh;     
}
.contact {
    width: 90%;
    height: 16vh;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}
.contact li{
    list-style-type: none;
    font-family: 'Rosario';
    font-weight: 700;
    font-size: 1.875rem;
}
.contact a , span{
    font-weight: 600; 
    font-style: italic;   
    text-decoration: none;
    color: var(--color-black);

}
.bottom_m > ul > li {
    font-family: 'Rosario';
    font-weight: 600;
    font-size: 1.875rem;  
    font-style: italic; 
}
.bottom_m > ul > li:first-child {
    font-family: 'Rosario';
    font-weight: 700;
    font-size: 2.25rem;
    padding-bottom: 2.25rem;
}

.bottom_r {
    font-family: 'Rosario';
    font-weight: 600;
    font-size: 1.875rem;  
    font-style: italic;
    display: flex;
    flex-direction: column;
    align-items: center;     
}
.bottom_r_title {
    font-family: 'Rosario';
    font-weight: 700;
    font-size: 1.875rem; 
    font-style: initial;      
}
.instagram {
    background-image: url('../img/inst.svg');
    width: 2rem;
    height: 2rem;
    background-size: cover;
}
.facebook {
    background-image: url('../img/Face.svg');
    width: 2rem;
    height: 2rem;
    background-size: cover;  
}
.twitter {
    background-image: url('../img/Twi.svg');
    width: 2rem;
    height: 2rem;
    background-size: cover;     
}
.links {
    width: 9vw;
    display: flex;
    justify-content: space-between;
    text-align: left;
}
.link_title_wr {
    text-align: left;
    width: 6vw;  
}


